@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600,700,900');

body {
    font-family: 'Titillium Web', sans-serif;
    line-height: 1.80857;
}

html {
    scroll-behavior: smooth;
}
html,
body {
    height: 100%;
}

.btns {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 1px;
    border-radius: 40px/50px;
    transition: all 0.5s ease 0s;
}

i .fab {
    width: 20px;
}

a i {
    height: 20px;
}

/* HEADER */
nav {
    background: #000;
}

nav ul li a {
    font-size: 20px !important;
}


.scale-in-center {
    -webkit-animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

/* Agrega una clase 'animated' para activar la animación */
.animated {
    animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* MAIN */
.carousel-item img {
    position: relative;
    filter: brightness(0.3);
    height: 100vh;
    background: no-repeat center center scroll;
    background-size: cover;
}

.carousel-item {
    height: 40rem;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

main p {
    margin: 0;
}

.grd1 {
    color: #ffffff;
    background: #111111;
}

.brillo {
    filter: brightness(0.5);

}

/* ABOUT */
.section {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 70px 0 0 0;
}

.section .about {
    background-color: #ffffff;
}

.nav-pills-custom .nav-link {
    color: #aaa;
    background: #fff;
    position: relative;
}

.nav-pills-custom .nav-link.active {
    color: #45b649;
    background: #fff;
}


/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #fff;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0;
    }
}

.nav-pills-custom .nav-link.active::before {
    opacity: 1;
}

.shadow {
    box-shadow: 8px 10px 10px 1px rgba(0, 0, 0, 0.5) !important;
}

/* SERVICIOS */
.sv {
    background-color: #111111;
}

.profile-card-2 {
    max-width: 300px;
    background-color: #FFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    background-position: center;
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
    border-radius: 10px;
}

.profile-card-2 img {
    filter: brightness(0.3);

    transition: all linear 0.40s;
}

.profile-card-2 .profile-name {
    position: absolute;
    left: 30px;
    bottom: 110px;
    font-size: 30px;
    color: #FFF;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-icons {
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: #FFF;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-username {
    position: absolute;
    bottom: 50px;
    left: 30px;
    color: #FFF;
    font-size: 13px;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-icons .fa {
    margin: 5px;
}

.profile-card-2:hover img {
    filter: grayscale(70%);
}

.profile-card-2:hover .profile-name {
    bottom: 120px;
}

.profile-card-2:hover .profile-username {
    bottom: 60px;
}

/* CONTACTO */
.ct {
    overflow: hidden;
}

.contacto {
    background-color: #6B240C;
}

.mensaje {
    background-color: #111111;
}

/* TRABAJOS */
.tb {
    background-image: url("../assets/about-bg.jpg");
    background-position: center center;
    background-size: cover;

}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

/* FOOTER */
footer {
    background-color: #000;
}

.img_select-fecha {
    background-image: url("../assets/form.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.img_form-reserva {
    background-image: url("../assets/form-2.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.container-fluid {
    padding-top: 120px !important;
    padding-bottom: 120px !important;
}

#form-turno .card,
.reservaturno .card {
    box-shadow: 8px 4px 8px 0px #0a0a0a;
    opacity: 0.9;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

.sectionTabla .card {
    box-shadow: 8px 4px 8px 0px #7c7a7a;
    opacity: 0.7;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.reservaturno input,
#form-turno input,
#form-turno select {
    padding: 10px 20px !important;
    border: 1px solid #000 !important;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #616161 !important;
    color: #fff !important;
    box-shadow: 8px 4px 8px 0px #0a0a0a;

}

#table {
    box-shadow: 8px 4px 8px 0px #0a0a0a;
    border-radius: 10px;

}


input:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #512DA8;
    outline-width: 0;
}

::placeholder {
    color: #fff;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #fff;
}

::-ms-input-placeholder {
    color: #fff;
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
}

.datepicker {
    background-color: #000 !important;
    color: #fff !important;
    border: none;
    padding: 10px !important;
}

.datepicker-dropdown:after {
    border-bottom: 6px solid #000;
}

thead tr:nth-child(3) th {
    color: #fff !important;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
}

.dow,
.old-day,
.day,
.new-day {
    width: 40px !important;
    height: 40px !important;
    border-radius: 0px !important;
}

.old-day:hover,
.day:hover,
.new-day:hover,
.month:hover,
.year:hover,
.decade:hover,
.century:hover {
    border-radius: 6px !important;
    background-color: #eee;
    color: #000;
}

.reservaturno .active {
    border-radius: 6px !important;
    background-image: linear-gradient(#90CAF9, #64B5F6) !important;
    color: #000 !important;
}

.disabled {
    color: #616161 !important;
}

.prev,
.next,
.datepicker-switch {
    border-radius: 0 !important;
    padding: 20px 10px !important;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff !important;
    opacity: 0.8;
}

.prev:hover,
.next:hover,
.datepicker-switch:hover {
    background-color: inherit !important;
    opacity: 1;
}

.cell {
    border: 1px solid #BDBDBD;
    margin: 2px;
    cursor: pointer;
}

.cell:hover {
    border: 1px solid #3D5AFE;
}

.cell.select {
    background-color: #3D5AFE;
    color: #fff;
}

.fa-calendar {
    color: #fff;
    font-size: 30px;
    padding-top: 8px;
    padding-left: 5px;
    cursor: pointer;
}

.datos {
    background-color: #111111;
}

.cell.disabled {
    background-color: #eee;
    color: #999;
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.7;
}

#spinnerContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}