@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600,700,900');

body {
    font-family: 'Titillium Web', sans-serif;
    line-height: 1.80857;
}

html,
body {
    height: 100%;
}

.btn {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 1px;
    border-radius: 40px/50px;
    transition: all 0.5s ease 0s;
}

i .fab {
    width: 20px;
}

a i {
    height: 20px;
}

/* HEADER */
nav {
    background: #000;
}

nav ul li a {
    font-size: 20px !important;
}

/* MAIN */
.carousel-item img {
    position: relative;
    filter: brightness(0.3);
    height: 100vh;
    background: no-repeat center center scroll;
    background-size: cover;
}

.carousel-item {
    height: 40rem;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

main p {
    margin: 0;
}

.grd1 {
    color: #ffffff;
    background: #111111;
}
.brillo {
    filter: brightness(0.5);

}
/* ABOUT */
.section {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 70px 0 0 0;
}

.section .about {
    background-color: #ffffff;
}

.nav-pills-custom .nav-link {
    color: #aaa;
    background: #fff;
    position: relative;
}

.nav-pills-custom .nav-link.active {
    color: #45b649;
    background: #fff;
}


/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #fff;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0;
    }
}

.nav-pills-custom .nav-link.active::before {
    opacity: 1;
}

.shadow {
    box-shadow: 8px 10px 10px 1px rgba(0, 0, 0, 0.5) !important;
}

/* SERVICIOS */
.sv {
    background-color: #000;
}
.profile-card-2 {
    max-width: 300px;
    background-color: #FFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    background-position: center;
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
    border-radius: 10px;
}

.profile-card-2 img {
    filter: brightness(0.3);

    transition: all linear 0.40s;
}

.profile-card-2 .profile-name {
    position: absolute;
    left: 30px;
    bottom: 110px;
    font-size: 30px;
    color: #FFF;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-icons {
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: #FFF;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-username {
    position: absolute;
    bottom: 50px;
    left: 30px;
    color: #FFF;
    font-size: 13px;
    transition: all linear 0.25s;
}

.profile-card-2 .profile-icons .fa {
    margin: 5px;
}

.profile-card-2:hover img {
    filter: grayscale(70%);
}

.profile-card-2:hover .profile-name {
    bottom: 120px;
}

.profile-card-2:hover .profile-username {
    bottom: 60px;
}
/* CONTACTO */
.contacto {
    background-color: #6B240C;
}
.mensaje {
    background-color: #111111;
}

/* FOOTER */
footer {
    background-color: #000;
}